# .gitignore file for Node.js/Express/MongoDB project

# Ignore config files
*/config.toml
*/*/config.toml
**/.env
**/cmd/*/config.toml

# Dependency directories
node_modules/
jspm_packages/

# Ignore node_modules
*/node_modules
*/.vite
