# Ignore keys
**/*.priv.key
**/*.pub.key

# Ignore config files
*/config.toml
*/*/config.toml
**/.env
**/cmd/*/config.toml

# Ignore vendored dependencies
*/vendor/**

# Ignore node_modules
*/node_modules
*/.vite

**/go.work
**/go.work.sum

k8s/env.yaml
k8s/*-secret.yaml
